.navbar {
  width: 100%;
	/*overflow: hidden;*/
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
 	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background: #ddd;
	color: black;
}

.navbar a.active {
  background-color: #110ec9;
  color: white;
}

.navbar div {
	background-color: #ababab;
}



body {
	margin: 0;
	background-color: #ababab;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	margin-top: 5px;
	color: #000000 ;
}

h1 {
	text-indent: 50px;
}


html {
	height: 100%;
}

input[type=text] {
	position: relative;
	background-color: #CBCCD2;
	margin: 2px;
}

input[type="date"] {
	background-color: #CBCCD2;
}

input[type="number"] {
	background-color: #CBCCD2;
}

button {
	border: 2px solid #666666;
	border-radius: 5px;
	margin: 2px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-color: #110EC9;
	color: #FFFFFF;
	padding: 6px;
}