{% extends "Wrapper.html" %}
{% block body %}

        <div style="padding-left:20px">
            <h2>Please add the events you want to see on your timeline.</h2>
            <p>
                After you have filled out all the boxes, select the "Save Event" button. Continue to do this for all of your events.
            </p>
        </div>

    <div style="padding-left:15%">
        <form>
            <br>
            Event Name:
            <input type="text" id="title" name="Title" size="30px">
            <br>
            Course Name:
            <input type="text" id="courseName" name="Course" size="30">
            <br>
            Type of Event (ex. Assignment):

            <input type="text" id="eventType" name="Type" size="20" list="eventType" autocomplete="off">
                <datalist id="eventType" autocomplete="off">
                    {% for eventType in eventType %}
                        <option value="{{ eventType }}">
                    {% endfor %}
                </datalist>

            <br>
            Due Date:
            <input class="advancedSearchTextBox" type="date" id="dueDate" name="Date">
            <br>
            Estimated Time (in hours):
            <input type="number" id="time" name="time" min="1" max="70">
            <br>
        </form>
        <br>
        <button type="button">Clear</button> <button type="button">View Timeline</button> <button type="button">Save Event</button>
    </div>

{% endblock %}