<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='static/style.css'>
        <title>Add Events</title>
    </head>

    <header>
        <table>
            <tr>
                <td>
                    <h1>PATH</h1>
                    <br> <br>
                    <div style="padding-left:20px">
                        <h2>Please add the events you want to see on your timeline.</h2>
                    </div>
                </td>
            </tr>
        </table>
    </header>

    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a class="active" href="/AddEvents">Add Events</a>
            <a href="/Timeline">Timeline</a>
        </div>

        <div style="padding-left:20px">

        </div>

        <form>
            Event Name:
            <input type="text" name="Title" size="30">
            <br>
            Course Name:
            <input type="text" name="Course" size="30">
            <br>
            Type of Event (ex. Assignment):
            <input type="text" name="Type" size="15">
            <br>
            Due Date:
            <input type="text" name="Date" size="20">
            <br>
            Estimated Time:
            <input type="text" name="Time" size="20">
            <br>
        </form>

        <button type="button">Save Event</button>
        <br>
        <br>

        <button type="button">Done</button>
    </body>

<html>