<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='static/style.css'>
		<title>PATH</title>
	</head>

	<header>
		<table>
			<tr>
				<td>
					<h1>PATH</h1>
					<br> <br>
					<div style="padding-left:20px">
						<h2>Planned Assignment Timeline Helper</h2>
					</div>
				</td>
			</tr>
		</table>
	</header>

	<body>
		<div class="navbar">
			<a class="active" href="/">Home</a>
			<a href="/AddEvents">Add Events</a>
			<a href="/Timeline">Timeline</a>
		</div>

		<div style="padding-left:20px">
			<h2>What is PATH?</h2>
			<p> 
				We wanted to create PATH, short for Planned Assignment Timeline Tracker, to aid and encourage students to keep track of their assignment, quiz, and exam dates to help them become as successful as they can be! This shared timeline is a unique way of displaying these important school events in which the students will be able to see the events and how long they are predicted to take along with their start/end times.
			</p>
			<h2>How to use PATH</h2>
			<p>
				To use PATH, please select the Events tab at the top of the page and begin entering your events! Once you have finished entering as many items as you would like, select the "Done" button and your timeline will be created and displayed.
			</p>
		</div>
	</body>
</html>